.source-import-modal-url-setting {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.source-import-modal-url-setting .setting-item-control {
	width: 100%;
}

.source-import-modal-url-setting input {
	width: 100%;
}

.source-import-modal-error-text {
	color: red;
}

.source-import-modal-preview-button > div {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}

.source-import-modal-loading {
	text-align: center;
	padding: 0.5rem;

	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

	@keyframes pulse {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0.5;
		}
	}
}

.source-import-source-setting-tag {
	margin-right: 0;
}

.import-source-setting-indent {
	margin-left: 1rem;
}

.import-source-builder-result {
	width: 100%;
}

.import-source-builder-result .setting-item-description {
	overflow-wrap: anywhere;
}

.import-source-builder-result .setting-item-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.source-import-source-setting-tag .setting-item-info {
	margin-right: 0;
	flex: inherit;
}

.source-import-source-setting-tag .setting-item-control {
	display: flex;
}

.source-import-source-setting-tag .setting-item-control input {
	width: 27%;
}

.source-import-source-setting-tag .setting-item-control select {
	width: 14%;
}

.source-import-control-full-width-input {
	display: block;
}
.source-import-control-full-width-input input {
	margin-top: 0.5rem;
	width: 100%;
}

.source-import-control-full-width-input-with-extra-button {
	display: block;
}
.source-import-control-full-width-input-with-extra-button .setting-item-name {
	padding-bottom: 0.5rem;
}
.source-import-control-full-width-input-with-extra-button input {
	width: 100%;
}

.source-import-source-setting-tag
	.setting-item-control
	.setting-editor-extra-setting-button {
	width: 5%;
}

.import-source-setting-top-border {
	padding: 0.75em 0 0 0;
	border-top: 1px solid var(--background-modifier-border);
}

.import-source-setting-top-padding {
	padding: 0.75em 0 0 0;
}
